absl-py==0.2.2
argcomplete==1.9.4
argh==0.26.2
asn1crypto==0.24.0
backcall==0.1.0
bcbio-gff==0.6.4
blinker==1.4
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.3.1
cryptography-vectors==2.3.1
decorator==4.3.0
Flask==1.0.2
Flask-Cache==0.13.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
geojson==2.4.0
grpcio==1.13.0
idna==2.7
ipython==7.2.0
ipython-genutils==0.2.0
ipyvolume==0.4.5
ipywebrtc==0.3.0
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
jupyter-contrib-nbextensions==0.5.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
Markdown==2.6.11
MarkupSafe==1.1.0
numpy==1.15.1
oauthlib==2.1.0
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
requests-oauthlib==1.0.0
six==1.11.0
sklearn==0.0
traitlets==4.3.2
tweepy==3.5.0
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.14.1
WTForms==2.2.1
