# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
asn1crypto==0.24
backcall==0.1.0
blas==1.1
blinker==1.4
bzip2==1.0.6
ca-certificates==2018.11.29
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
click==7.0
cryptography==2.3.1
cryptography-vectors==2.3.1
decorator==4.3.0
flask==1.0.2
idna==2.7
ipython==7.2.0
ipython_genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.1
jinja2==2.10
libffi==3.2.1
libgcc-ng==7.2.0
libgfortran==3.0.0
libstdcxx-ng==7.2.0
markupsafe==1.1.0=
ncurses==6.1
numpy==1.15.1
oauthlib==2.1.0
openblas==0.2.20
openssl==1.0.2
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pip==18.1
prompt_toolkit==2.0.7
ptyprocess==0.6.0
pycparser==2.19
pygments==2.3.0
pyjwt==1.6.4
pyopenssl==18.0.0
pysocks==1.6.8
python==3.6.7
python-dateutil==2.7.5
pytz==2018.7
readline==7.0
requests==2.20.1
requests-oauthlib==1.0.0
setuptools==40.6.2
six==1.11.0
sqlite==3.25.3
tk==8.6.9
traitlets==4.3.2
tweepy==3.5.0
urllib3==1.24.2
wcwidth==0.1.7
werkzeug==0.14.1
wheel==0.32.3
xz==5.2.4
zlib==1.2.11
