{% extends "includes/base.html" %}
{% block contents %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
        {% for alert in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ alert }}
              </div>
        {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if g.user in details['project leads'] %}
    <div class="text-center jumbotron">
      <h1>{{ project }}</h1>
      <div align="center" class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <h2>Role on project {{ project }}: {{ details['current user role'] }}</h2>
            <h2> {{ project }} synopsis:</h2>
            <h4>{{ details['summary'] }}</h4>
            {% for lead in details['project leads'] %}
                <h3>Project Lead: {{ lead }}</h3>
                          <h5>Contact: {{ details['contact info'][lead] }}</h5>
            {% endfor %}
            <h5><a href="{{ details['scheme'] }}">Labeling Scheme</a></h5>
          </div>
          <hr class="my-4">
          <div class="center">
            <h2> Total Tweets in {{ project }}: {{ details['total']}}</h2>
            <h2> Labled Tweets in {{ project }}: {{ details['completion_rate']}} </h2>
            {% for analyst in  details['analysts'] %}
                <h3> Analysts: {{ analyst }} </h3>
                    <h4>Contact: </h4>
                    <h4>Labeled Tweets: </h4>
            {% endfor %}
          </div>
          <a class="btn btn-primary btn-lg" href="{{ url_for('modify', project=project) }}" role="button">Modify</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Assist in Labeling</a>
        </div>
    </div>
{% else %}
<div class="text-center jumbotron">
  <h1>{{ project }}</h1>
  <div align="center"class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <h2>Role on project {{ project }}: {{ details['current user role'] }}</h2>
        <h2> {{ project }} synopsis:</h2>
        <h4>{{ details['summary'] }}</h4>
        {% for lead in details['project leads'] %}
            <h3>Project Lead: {{ lead }}</h3>
                      <h5>Contact: {{ details['contact info'][lead] }}</h5>
        {% endfor %}
        <h5><a href="{{ details['scheme'] }}">Labeling Scheme</a></h5>
        <a class="btn btn-primary btn-lg" href="#" role="button">Begin Labeling</a>
      </div>
</div>
{% endif %}




{% endblock %}
