{% extends "includes/loginBase.html" %}

{% block contents %}
{% from "includes/_formhelpers.html" import render_field %}

{% if (type != 'usr') and (type != 'pwd') %}
    <div class="jumbotron text-center container">
      <h1>Forgot something?</h1>
      <p class="lead">Choose the login information type you need to retreive</p>
    </div>
    <div class="text-center">
        <form class="form-group" action="{{ url_for('retreive_creds') }}" method="Post">
          {{ render_field(form.retreival_type, class_="form-control") }}
          {{ render_field(form.submit) }}
        </form>
    </div>
{% else %}
  {% if type == 'usr' %}
    <div class="jumbotron text-center container">
      <h1>Forgot Your User Name?</h1>
      <p class="lead"> Enter your email for this platform</p>
      <p class="lead"> An email containing your login information will be sent
        to the email address associated with your account </p>
    </div>
    <div class="text-center">
        <form class="form-group" action="{{ url_for('retreive_creds') }}" method="Post">
          {{ render_field(form.user_email, class_="form-control") }}
          {{ render_field(form.submit) }}
        </form>
    </div>
  {% elif type == 'pwd'%}
    <div class="jumbotron text-center container">
      <h1>Forgot Your Password?</h1>
      <p class="lead">Enter the user name and email associated with your account</p>
      <p class="lead">An email will be sent with your login information associated
      with your account</p>
    </div>
    <div class="text-center">
        <form class="form-group" action="{{ url_for('retreive_creds') }}" method="Post">
          {{ render_field(form.forgot_user_name, class_="form-control") }}
          {{ render_field(form.user_email, class_="form-control") }}
          {{ render_field(form.submit) }}
        </form>
    </div>
  {% endif %}
{% endif %}

{% endblock %}
