{% extends "includes/base.html" %}
{% block contents %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
        {% for alert in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ alert }}
              </div>
        {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "includes/_formhelpers.html" import render_field %}
<div class="text-center jumbotron">
  <h1>{{ project }} Data Configuration </h1>
</div>
<div class="text-center">
    <h5>{{ form.data_modification_action.label}}</h5>
</div>

    <div class="text-center">
        <form class="form-group" method="post" action="{{ url_for('data_modification', project=project, form=form, action=action) }}">
          {{ render_field(form.data_modification_action, class_="form-control") }}
          {{ render_field(form.submit) }}
        </form>
    </div>

{% endblock %}