{% extends "includes/loginBase.html" %}

{% block contents %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
        {% for alert in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ alert }}
              </div>
        {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="jumbotron text-center container">
  <h1>Welcome to TweetView</h1>
  <p class="lead">This Application is a data management tool designed for accurately
    labeling Twitter feed</p>
</div>

{% from "includes/_formhelpers.html" import render_field %}

<div align="center">
    <form class="form-group" method="Post">
      <div class="form-group">
        {{ render_field(form.user_name, name_="user_name") }}
      </div>
      <div class="form-group">
        {{ render_field(form.pass_word, name_="pass_word") }}
      </div>
      <div class="form-group">
        {{ form.login(class_="btn btn-primary") }} Don't have an account? <a href="{{url_for('register')}}"> Register Here </a> <br>
      <div>
      <a href="{{ url_for('retreive_creds') }}">Forgot Username/Password?</a>
    </form>
</div>

{% endblock %}
